.add-media-section {
    flex: 1 0 auto;
    

    .u-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .vudeo-wrapper {
        margin-bottom: 16px;
    }

    .c-expander {
        overflow: hidden;
        position: relative;
    }

    .media-title {
        background: #535565;
        border-top-left-radius: 4px;
        color: #fff;
        font-size: .889rem;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        padding: 15px 15px 15px 50px;
        position: relative;
    }

    .expander-list {
        border-radius: 0 0 5px 5px;
        border-top: 0;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        transition: all .15s ease-out,opacity .15s ease-out .15s;

        .expander-list-item {
            cursor: pointer;
            border: inherit;

            border-top: 1px solid #d9d9d9;
            box-sizing: border-box;
            color: #272d45;
            cursor: default;
            display: block;
            font-size: .889rem;
            line-height: 20px;
            min-height: 51px;
            padding: 15px 15px 15px 50px;
            position: relative;
            text-align: left;
            width: 100%;
        }
    }

}