main {
    display: block;
    flex: 1 0 auto;
    margin-top: 15px;

    form {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }


    .review-container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .gutter {
        padding-left: 16px;
        padding-right: 16px;
    }

    .card {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
        overflow: hidden;
        padding: 16px;
    }

    .rating, .title, .review, .recommend {
        margin-bottom: 16px;
    }

    .title label {
        margin-bottom: 8px;
        display: inline-block;
        font-weight: 400;
        max-width: 100%;
    }

    .toggle-btns {
        margin-top: 15px;
    }
 
}

.review-footer{
    margin: 32px auto 16px;
    max-width: 100%;
    padding: 0 16px;
    width: 768px;
    margin-top: 32px;
}

.agree-btn {
    line-height: 3.3;
    padding: 0 24px;
    width: 100%;
    font-size: 1.266rem;
    border-radius: 4px;
}